/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Common Styles or Utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.containers {
  background-color: #ffffff;
  width: 870px;
  height: 679px;
}
/* Top players styles */
.color-highlights {
  color: #562eff;
  ont-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
}
.player img {
  width: 56px;
  height: 56px;
  align-items: center;
}
